/*公共重置样式*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
  font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
  margin: 0;
  padding: 0
}
html {
  font-size: 1rem;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-style: normal
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
q:before,q:after {
  content: ''
}
object,embed {
  vertical-align: top
}
hr,legend {
  display: none
}
img,abbr,acronym,fieldset {
  border: 0
}
ul li {
  list-style-type: none
}
a,label {
  cursor: pointer
}
img {
  vertical-align: bottom;
  margin: 0;
  padding: 0;
  outline: none;  
}
a {
  text-decoration: none;
  outline: 0
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 400
}
.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: .1px;
  font-size: .1em;
  line-height: 0;
  clear: both
}
input,textarea,select {
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 0;
}
input:-ms-input-placeholder,textarea:-ms-input-placeholder {
  color: #ccc
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    color: #ccc
}
body
  background #f4f5f5
  font-size 14px
  overflow hidden
.theme-color
  color #0371df

// 公共header
.com-header 
  min-width 1200px
  height 60px
  color #0371df
  background #fff
  .header-inner
    position relative
    width 1200px
    margin 0 auto 20px
    width 1200px
  .logo-img
    display inline-block
    vertical-align middle
  .nav-box
    display inline-block
    margin-left 50px
    li
      line-height 60px
      font-size 18px
      display inline-block
      a
        color #0371df
  .no-login-box,
  .login-box
    position absolute
    top 10px
    right 10px
  .no-login-box 
    top 20px
  .login-btn
  .register-btn,
  .write-btn
    color #0371df
    font-size 18px
  .write-btn 
    display inline-block
    padding-right 12px
    margin-right 10px
    border-right 1px solid #dfdfdf
  .icon 
    display inline-block
    vertical-align middle
  .my-img
    display inline-block
    vertical-align middle
    width 40px
    height 40px
    border-radius 50%

