.register-box{
  width: 400px;
  margin: 150px auto;
  padding: 30px;
  background: #fff;
}
.h1 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 24px;
}
.input-group {
  margin-bottom: 20px;
}
.btn-primary {
  display: block;
  margin: 20px auto;
}