<header class="com-header">
  <div class="header-inner">
    <img src="https://b-gold-cdn.xitu.io/v3/static/img/logo.a7995ad.svg" alt="掘金" class="logo-img">
    if userInfo
      <div class="login-box">#{userInfo.phone}</div>
    else 
      <div class="no-login-box">
        <a href="javascript:;" class="login-btn">登录</a>
        <a href="javascript:;" class="register-btn">注册</a>
      </div>
  </div>
</header>